name: Push to Fasthosts (SFTP)
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v3

      - name: Deploy via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.FTP_USERNAME }}
          server: ${{ secrets.FTP_SERVER }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          # This tells the tool exactly where to put the files
          local_path: './*'
          remote_path: '/htdocs/'
          # This ensures it doesn't get stuck on security prompts
          args: '-o ConnectTimeout=5'
